name: Validate and Deploy HAProxy Controller helm charts to Development

on:
  workflow_dispatch:
    inputs:
      HAPROXY_HELM_CHART_VERSION:
        description: "The version of the HAProxy Controller to install"
        required: true
        default: "1.46.1"

env:
  NAMESPACE: haproxy-controller
  HAPROXY_HELM_CHART_URL: https://haproxytech.github.io/helm-charts
  CHART_PATH: ./haproxy-controller

jobs:
  validate:
    runs-on: robot-shop-runner-azure-dev
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Helm
        uses: azure/setup-helm@v4.3.0
        with:
          version: 3.9.0

      - name: Validate helm charts
        run: |
          cd ${{ env.CHART_PATH }}
          helm lint 

  deploy:
    if: ${{ github.ref_name == 'develop' }}
    needs: validate
    runs-on: robot-shop-runner-azure-dev
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Helm
        uses: azure/setup-helm@v4.3.0
        with:
          version: 3.9.0

      - name: Find project namespace
        run: |
          if kubectl get ns ${{ env.NAMESPACE }} > /dev/null; then
            echo "namespace=${{ env.NAMESPACE }}" >> $GITHUB_ENV
            echo "namespace_found=true" >> $GITHUB_ENV
          fi

      - name: Create project namespace
        if: ${{ env.namespace_found != 'true'}}
        run: |
          set -e
          if kubectl create ns ${{ env.NAMESPACE }} > /dev/null; then
            echo "Namespace ${{ env.NAMESPACE }} created."
          else
            echo "Namespace ${{ env.NAMESPACE }} failed to create."
          fi

      - name: Add HAProxy helm repo
        run: |
          helm repo add haproxytech ${{ env.HAPROXY_HELM_CHART_URL }}
          helm repo update

      - name: Deploy HAProxy Ingress controller
        run: |
          helm upgrade haproxy \
          haproxytech/kubernetes-ingress \
          --namespace ${{ env.NAMESPACE }} \
          --install \
          --version ${{ github.event.inputs.HAPROXY_HELM_CHART_VERSION }} \
          -f ${{ env.CHART_PATH }}/values.yaml \
          -f ${{ env.CHART_PATH }}/values/values_dev.yaml