name: Validate and Deploy Ingress YAMLs to Development

on:
  push:
    branches-ignore:
      - 'main'

    paths:
      - "haproxy-ingress/**"   

  pull_request:
    branches:
      - develop

  workflow_dispatch:
    
env:
  YAML_PATH: ./haproxy-ingress

jobs:
  validate:
    runs-on: robot-shop-runner-azure-dev
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Validate Ingress YAML files
        run: |
          for file in $(find ${{ env.YAML_PATH }} -name '*.yaml'); do
            echo "Validating $file..."
            kubectl apply --dry-run=client -f "$file" || exit 1
            echo "$file is valid"
          done

  deploy:
    if: ${{ github.ref_name == 'develop' }}
    needs: validate
    runs-on: robot-shop-runner-azure-dev
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy Ingress Yaml
        run: |
          kubectl apply -f ${{ env.YAML_PATH }}